Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
s="Data science masters courses by PW"

In [10]:
l= [1,2,3,"pw skills","data science"]

In [12]:
f=5.0

In [13]:
t=(1,2,3,"pw skills","data science")

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘ --> String

(ii) var2 = ‘[ DS , ML , Python]’ --> String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] --> list

(iv) var4 = 1. --> float

Q3. Explain the use of the following operators using an example:

(i) / --> (Division operator) - When two number is divided it's return the quotient.
eg- 3/2 - 1.5

(ii) % --> (Modulus operator) - It is used to return the remainder when two number is divided.
eg--> 3%2 - 1

(iii) // --> (Floor division) - It is used to divide the first number from second number and rounds the result into the nearest integer.
eg--> 15//2 - 7

(iv) ** --> (Exponentiation) - It is used to get the power of the number
eg--> 2**3 - 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
list=[1,2.3,'Data science',[2,4],(2,3),9,'pw skills',7,8.6,4]
for l in list:
  print(l,type(l))

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=32
B=2
count=0
while A%B ==0:
  count +=1
  A=A//B
print(count)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for l in li:
  if l%3==0:
    print(l ," is divisible by 3")
  else:
    print(l," is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types --> Mutable data types are those whose values can be changed or new values can be assigned to them List, Sets, and Dictionary in Python are examples of mutable data types.

Immutable data types -->Immutable data types are those, whose values cannot be modified once they are created. Examples of immutable data types are int, str, bool, float, tuple, etc.