Q1. How do you comment code in Python? What are the different types of comments?

There are two types of comments in python
1. Single line comment - #
                      eg- # Data science course from pw skills
2. Multi line comment - ''' ''', """ """
                      eg- '''
                              data science masters couse
                              from PW skills
                              by Sudhanshu sir
                         ''' 
                         or
                        """
                              data science masters couse
                              from PW skills
                              by Sudhanshu sir
                        """

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are containers for storing data values.

In [ ]:
x=10
s="PW Skills"
y=10.5

Q3. How do you convert one data type to another in Python?

we can convert one data type to another by using type casting(function like str(),int() etc)

eg- x=10

  if we want to convert the int data type into string then we need to use str function.

  s=str(x)
  
  if we check the type(s) it will give the output as string

In [6]:
x=10
type(x) #int
s=str(x)
type(s) #str

str

Q4. How do you write and execute a Python script from the command line?

we can use two way,
1. cd (location of python file) - python filename.py
2. python (location of file with filename).py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list=[1,2,3,4,5]
my_list[1:3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and  ‘i’ is an imaginary number called “iota”. The value of i = (√-1). 

eg- 2+3i is a complex number, where 2 is a real number and 3i is an imaginary number. 

In python we can represent complex number as

x =4+3j

print(x.real) - to get real number

print(x.imag) - to get imaginary number

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [ ]:
price = 9.99
type(price)  #float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [ ]:
name="Raushan Kumar"
print(name)

Q10. Given the string "Hello, World!", extract the substring "World"

In [ ]:
s="Hello World!"
s[6:11]

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [ ]:
is_student=True
if is_student == True:
    print("you are currently a student")
else:
    print("you are currently not a student")

#o/p= You are currently a student

In [ ]:
is_student=False
if is_student == True:
    print("you are currently a student")
else:
    print("you are currently not a student")

#o/p= You are currently a not student