Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, so that it can be easily accessed and managed.

SQL databases are primarily called Relational Databases (RDBMS), whereas NoSQL databases are primarily called non-relational or distributed databases. 

SQL requires to use predefined schemas to determine the structure of data before the work with it. Also, all of the data must follow the same structure. where as A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. 

CREATE- This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

eg- CREATE TABLE Student   
(  
Roll_No. Int ,    
First_Name Varchar (20) ,    
Last_Name Varchar (20) ,    
Age Int ,  
Marks Int ,   
) ;     

DROP- This command is used to delete objects from the database.

eg-DROP TABLE Student; 

ALTER- This is used to alter the structure of the database.

eg- ALTER TABLE Student ADD Father's_Name Varchar(60);  

TRUNCATE- This is used to remove all records from a table, including all spaces allocated for the records are removed.

eg- TRUNCATE TABLE Student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. 

INSERT- It is used to insert data into a table.

eg- INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (1001, Raushan, 96, 25);  

UPDATE- It is used to update existing data within a table.

eg- UPDATE Student SET Stu_Marks = 80, Stu_Age = 21 WHERE Stu_Id = 103 AND Stu_Id = 202;  

DELETE- It is used to delete records from a database table.

eg- DELETE FROM Student WHERE Stu_Marks > 70 ;

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.

SELECT- It is used to retrieve data from the database.

eg- SELECT * FROM Student;

Q5. Explain Primary Key and Foreign Key.

Primary Key- The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

eg- creating primary key

CREATE TABLE STUDENT_DETAIL (  
Roll_no int NOT NULL PRIMARY KEY,  
Name varchar (200) NOT NULL,  
Marks int NOT NULL  
} ;  

Foreign Key- The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.

eg- creating foreign key

    CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    PersonID int,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (PersonID) REFERENCES Persons(PersonID)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("select * from test.test_table")

for i in mycursor.fetchall():

    print(i)
mydb.close()

Cursor() - The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

execute()-Using this methods we can execute SQL statements, fetch data from the result sets, call procedures.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT Statement Execution Order

1. FROM clause
2. ON clause
3. OUTER clause
4. WHERE clause
5. GROUP BY clause
6. HAVING clause
7. SELECT clause
8. DISTINCT clause
9. ORDER BY clause
10. TOP clause

eg- 

    SELECT DISTINCT <TOP_specification> <select_list>

    FROM <left_table>

    <join_type> JOIN <right_table>

    ON <join_condition>

    WHERE <where_condition>

    GROUP BY <group_by_list>

    HAVING <having_condition>

    ORDER BY <order_by_list>